#MQTT-Broker Coniguration
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_KEEPALIVE=5

#Intervals for sending data via different protocols (in seconds)
INTERVAL_ZIGBEE=5
INTERVAL_BLE=5
INTERVAL_LORAWAN=5

#Minimum and maximum values for automation
SERVERROOM_TEMP_MAX=30
SOIL_MOISTURE_MIN=40
